<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @memo.username %>
</p>

<p>
  <b>Subject:</b>
  <%= @memo.subject %>
</p>

<p>
  <b>Content:</b>
  <br />
  <%=raw replace_uri(@memo.content.gsub(/\r\n|\r|\n/, "<br />")) %>
</p>


<%= link_to 'Edit', edit_memo_path(@memo) %> |
<%= link_to 'Back', memos_path %>
