<!DOCTYPE html>
<html>
<head>
  <title>チラシの裏</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><%= link_to 'チラシの裏', root_path %></h1>
<h2>みんなのオンラインメモ帳</h2>
<ul>
<li><%= link_to 'チラシの裏について', :controller => 'welcome', :action => 'index' %>
</ul>

<%= yield %>

</body>
</html>
